* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    /* background-image: 'images/1.jpg'; */
}

.btn-primary {
    padding: 5px;
    width: 100px;
    border-radius: 9%;
    cursor: pointer;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 1.2em;

}

/* ////////////////////// */




.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3) , rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}


ul .First{
    padding-right: 450px;
    /* padding-left: -200px; */
}

nav{
    width: 100%;
    position: absolute;
    
    background-color: transparent;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


nav .logo{
    width: 80px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;

}
.hero .content{
    padding-top: 400px ;
    padding-right: 500px;
    /* padding-bottom: 10; */
}

.content h1{
    font-size: 60px;
    color: #fff;
    font-weight: 900;
}

.content a{
    color: white;
    font-size: 30px;
    font-weight: bold;
    
    text-decoration: none;
    display: inline-block;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media(min-aspect-ratio: 16/9){
    .back-video{
        width:100%;
        height: auto;
    }
}
@media(max-aspect-ratio: 16/9){
    .back-video{
        width:auto;
        height: 100%;
    }
}

.packages{
    padding: 2%;
    background-color: rgba(214, 214, 214, 0.824);
}
.packages .box-container .box{
    display: inline-flex;
    /* background-color: ; */
}

.box-container .box img{
    width: 50%;

}

.box-container .box{
    height: 380px; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  .box-container .box img {
    transition: transform .5s ease;
  }
  

.box-container .box img:hover {
    transform: scale(1.06); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    cursor: pointer;
  }

.box-container .box .content {
    justify-content: right;
    align-content: flex-end;
        display: inline-block;

}

.box-container .box .content h3{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 3%;
}
.box-container .box .content p{
    font-size: 24px;
    font-weight: 650;
    padding: 0 0 0 60px;
}


.row-cols-1{
    background-color:  rgba(214, 214, 214, 0.824);
}

.row-cols-1 .col{
    height: fit-content;
    padding: 20px;
    /* background-color: red; */
}


.row-cols-1 .col .card{
   
    /* background-color: green; */
    border-radius: 20px;
    height: 100%;
    width: 100%;

}

.row-cols-1 .col .card img{
    height: 680px;
    width: 100%;
    cursor: pointer;
   
}
/* ///// */
.row-cols-1 .col .card {
    height: 100%;
    /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  .row-cols-1 .col .card img {
    transition: transform .5s ease;
  }
  

  .row-cols-1 .col .card img:hover {
    transform: scale(1.06); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    cursor: pointer;
  }
  /* ///// */

.row-cols-1 .col .card .card-body{
    /* background-color: blue; */
    height: 250px;
    
}

.row-cols-1 .col .card .card-body .card-title{
    flex: content;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
 /* background-color: red; */
}

.row-cols-1 .col .card .card-body .card-text{
 font-weight: bold;
}



.card-group{
    background-color: red;
    
}

.profile-container{
background-color: rebeccapurple;
margin: 20px 40px;
color: white;

}


.heading{
    font-size: 60px;
    color: white;
}

.profile-container .profiles {
                width: fit-content;
    background-color: red;
    
    
    display: flex;
    justify-content: space-around;
    margin: 20px 70px;
}




/* ///////my team  */

.profile-area{
    padding: 80px 0;
}

.card{
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 15px;
}

.img1 img{
    height: 200px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width:100%;
}

.img2 img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid white;
    margin-top: -80px;
}



/* ////////////////////////////////////CSS for body////////////////////////////// */
/* @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: fallback;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4taVIGxA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  } */



/* .navbar {
    
}


.collapse {
    padding: 0 0 0 50%;
}

.banner-images {
    background-image: url('/images/1.jpg');
    background-size: cover;
} */